/* cookies */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* cookies */

body {
  background-color: rgb(20, 20, 20);
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.movie_title {
  max-width: 300px;
  word-wrap: break-word;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgb(20, 20, 20);
  position: relative;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#logo {
  font-size: 35px;
  color: brown;
  left: 40px;

  margin-left: 40px;
  cursor: pointer;
}
#logIn a {
  font-size: 20px;
  color: brown;
  cursor: pointer;
  margin-right: 40px;
}
#search_movie {
  width: 50%;
  height: 40px;
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-left: 20px;
}
.dropdown-menu {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}
.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 10px;
}

.dropdown-item img {
  width: 35px;
  margin-right: 10px;
}

/* movie_content */

section {
  width: 100%;
}
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: blanchedalmond;
  padding-bottom: 60px;
  border-bottom: 20px solid black;
}
.posterDiv img {
  margin-top: 80px;
  width: 400px;
}
.contentDiv {
  width: 80%;
  padding-left: 40px;
  padding-right: 40px;
}
.headings {
  width: 500px;
}
.content_movie_title {
  margin-top: 60px;
  font-size: 60px;
  color: brown;
  border-bottom: 1px solid black;
}
.imdb {
  margin-top: 50px;
  font-size: 30px;
  color: rgb(152, 26, 7);
  font-weight: 600;
  margin-bottom: 100px;
}

.contentDiv p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(152, 26, 7);
}
.contentDiv span {
  color: black;

  margin-left: 20px;
}

/* movie_offers */

.movie_offers {
  margin-top: 100px;
  width: 100%;
  height: 100vh;
}
.movie_offers h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(152, 26, 7);
  border-bottom: 2px solid rgb(152, 26, 7);
}

.movie_colection {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 40px;
  margin-top: 40px;
}
.movie_colection h1 {
  font-size: 40px;
  color: brown;
}

.movie {
  width: 300px;
  height: 700px;
  cursor: pointer;
}
.movie img {
  height: 500px;
}

/* cookies */
.container_cookies {
  width: 1600px;
  height: auto;
}
.subContainer {
  width: 85%;
  margin: auto;
}
#cookies {
  min-height: 100px;
  width: 100%;
  position: fixed;
  bottom: 100px;
  color: #fff;
  background-color: rgba(16, 49, 120, 0.838);
  z-index: 1;
  display: none;
}
.cookies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 10px;
}
#cookies_btn {
  border-radius: 5px;
  border: 3px solid #fff;
  background-color: black;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1rem;
  font-family: inherit;
}
#cookies_btn:hover {
  background-color: #fff;
  border: 3px solid black;
  color: black;
}
.cookies a {
  color: yellow;
  font-weight: 500;
}

@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .cookies {
    padding: 10px 0;
  }
}

/* cookies */

/* splide */
.movie_slider {
  height: 110vh;
  background-color: rgb(10, 0, 0);
  position: relative;
}
.img_box {
  width: 300px;
}
.splide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 600px;
}
.splide__slide h1 {
  font-size: 40px;
  color: brown;
}
